<#--
# This adds the macro submitCancelButtons which allows us to do form validation
# and still be able to cancel without filling in any required fields
-->

<#macro submitCancelButtons button1Name='' button2Name='' i18nValue1Key='portal.admin.message.buttonValidate' i18nValue2Key='portal.admin.message.buttonCancel' url1='' url2='' icon1='fa fa-check' icon2='fa fa-close' offset=3 >
<#assign col = 11 - offset />
<div class="form-group">
    <div class="col-xs-12 col-sm-offset-${offset} col-sm-${col} col-md-offset-${offset} col-md-${col}">
        <#if url1 != ''>
            <a class="btn btn-primary" href="${url1}"  >
                <i class="${icon1}"></i>&nbsp;#i18n{${i18nValue1Key}}
            </a>
        <#else>
            <button  class="btn btn-primary" name="${button1Name}" type="submit">
                <i class="${icon1}"></i>&nbsp;#i18n{${i18nValue1Key}}
            </button>
        </#if>
        <#if url2 != ''>
            <a class="btn btn-default" href="${url2}"  >
                <i class="${icon2}"></i>&nbsp;#i18n{${i18nValue2Key}}
            </a>
        <#else>
            <#if button2Name != ''>
                <button class="btn btn-default" name="${button2Name}" type="submit" formnovalidate>
                    <i class="${icon2}"></i>&nbsp;#i18n{${i18nValue2Key}}
                </button>
            </#if>
        </#if>
    </div>
</div>
</#macro>
