<#--
# This adds the macro submitCancelButtons which allows us to do form validation
# and still be able to cancel without filling in any required fields
# based on actionButtons macro, with the second button being cancel.
-->

<#macro submitCancelButtons button1Name='' button2Name='' i18nValue1Key='portal.admin.message.buttonValidate' i18nValue2Key='portal.admin.message.buttonCancel' url1='' url2='' icon1='save' icon2='times' offset=3>
<@formGroup>
<#if url1 != ''>
<@aButton href='${url1}' buttonIcon=icon1 title='#i18n{${i18nValue1Key}}' />
<#else>
<@button type='submit' name='${button1Name}' buttonIcon=icon1 title='#i18n{${i18nValue1Key}}' />
</#if>
<#if url2 != ''>
<@aButton href='${url2}' buttonIcon=icon2 title='#i18n{${i18nValue2Key}}' />
<#else>
<#if button2Name != ''>
<@button type='submit' name='${button2Name}' buttonIcon=icon2 title='#i18n{${i18nValue2Key}}' color='default' cancel=true />
</#if>
</#if>
</@formGroup>
</#macro>